#react-sliding-container{
    display:block;
    
    box-sizing:content-box;
    background-color:rgba(255, 255, 255, 0);
    position:relative;
    overflow:hidden
}
#react-sliding-container .react-sliding-container-inner{
    position:absolute;
    top:0;
    bottom:0
}
.react-sliding-container-arrow{
    position:absolute;
    top:0;
    bottom:0;
    display:table;
    height:100%;
    z-index:1000
}
.react-sliding-container-arrow.arrow-left{left:0}
.react-sliding-container-arrow.arrow-right{right:0}
.react-sliding-container-arrow .react-sliding-container-arrow-inner{display:table-row}
.react-sliding-container-arrow .react-sliding-container-arrow-inner .react-sliding-container-arrow-content{display:table-cell;vertical-align:middle}
.react-sliding-container-arrow .react-sliding-container-arrow-inner .react-sliding-container-arrow-content span{cursor:pointer;font-size:48px}
.react-sliding-container-slide{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover
}
.react-sliding-container-slide,.react-sliding-container-slide-inner,.react-sliding-container-slide-content{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0
}
