.projects{
  background-image:url("../../assets/images/bg12.jpg") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
  overflow-x: hidden;
  margin: 10px;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
  text-align: justify;
  .h1{
    color:pink;
  }
  .p{
    color:black;
    font-size: large;
    font-weight: bold;
  }
  
}
.sl2{
  background-color: black;
}
.sl1{
  height: 70vh;
  margin-left: 70px;
  margin-right: 70px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.content1{
  color:white;
  
}
.b1{
  position:absolute;
  bottom:0;
}
.display1{
  color:rgb(199, 74, 95);
}
.my-slider{
margin:auto;
width:50%;
padding:10px;
//align:center;
}

.project-card{
  color: salmon;
  margin: 10px;
  padding: 20px;
  
  border: 2px solid salmon;
  
  color: salmon;
}
.a12{
  width: 1000px;
  //justify-self: center;
  padding-left: 100px;
}
.content1{
  display: flexbox;
}
@media only screen and  (max-width : 600px){
  .a12{
    width:450px;
    position: relative;
    left: -70px;
    padding-left:0;
  }
}
