.con{
    background-color: rgb(238, 230, 235);
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.aboutme{
background-color: whitesmoke;
font-size:120%;
font-family:'Times New Roman';
color: rgb(6, 17, 22);
}

video{
    width:400px;
    height:200px
}

@media only screen and (max-width: 700px) {
    .con{
        background-color: rgb(31, 28, 28);
        display: list-item;   
    }
    .about{
        display:block;
    }
    video{
        display: block;
        width:200px;
        height: 100px;
        justify-content: center;
    }
  }
